# Java
target/
*.class

# Maven
.mvn/wrapper/maven-wrapper.jar

# .NET
bin/
obj/

# Node
node_modules/

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db


# Eclipse / IDE junk
.metadata/
.recommenders/
.settings/
.classpath
.project
